%div.col_12
    - rss.items.to_enum.with_index.each do |item, index|
        - if item.description == 'website:up'
            %p{:class => 'col_2 notice success center'}
                %i{:class => 'icon-ok icon-large'}
                %a{:href => item.link}                
                    =item.title
        - elsif item.description == 'website:redirecting'
            %p{:class => 'col_2 notice warning center'}
                %i{:class => 'icon-exclamation-sign icon-large'}
                %a{:href => item.link}                
                    =item.title        
        - else
            %p{:class => 'col_2 notice error center'}
                %i{:class => 'icon-minus-sign icon-large'}
                %a{:href => item.link}                
                    =item.title        


%div.col_12
    %p.info.col_3
        %a{:href => "/run"}= "Re-run tests"
    %p.info.col_6.center http://go.bath.ac.uk/web-status    
    %p.info.col_3= date
