!!!
%html
    %head
        %title= title
        %meta{:charset => 'UTF-8'}
        %meta{:name => 'description', :content => 'text/html'}
        %script{:type => 'text/javascript', :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'}
        %script{:type => 'text/javascript', :src => 'js/kickstart.js'}
        %link{:href => '/css/kickstart.css', :rel => 'stylesheet', :type => 'text/css'}
        %link{:href => '/css/status.css', :rel => 'stylesheet', :type => 'text/css'}
    %body
        =yield

