.notice {
    padding-left: 20px;
    clear: none;
    min-height: 60px;
    max-height: 60px;
    overflow: hidden;
}

.notice a {
	text-decoration: none;	
    vertical-align: middle;
    overflow: hidden;    
}

.success a {
	color: green;
}
